.alpha {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Полная высота экрана */
    min-height: 600px;
    /* Минимальная высота */
    overflow: hidden;
    padding-top: 96px;
}

.alpha img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Изображение покрывает весь блок */
    z-index: 1;
}

/* Затемнение поверх изображения */
.alpha::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.alpha .container {
    position: relative;
    z-index: 3;
    height: 100%;
}

.alpha-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: var(--white);
    /* Белый текст */
    padding: 20px;
}

.alpha-items h1 {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 24px;
    color: var(--white);
}

.alpha-description {
    font-size: 18px;
    line-height: 30px;
    color: var(--white);
    margin-bottom: 32px;
    max-width: 650px;
}

.alpha-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media all and (max-width: 1200px) {
    h1 {
        font-size: 56px !important;
    }
}

@media all and (max-width: 930px) {
    h1 {
        font-size: 40px !important;
    }
}

/* Адаптивность для мобильных */
@media all and (max-width: 768px) {
    .alpha {
        min-height: 500px;
    }

    .alpha-items h1 {
        font-size: 32px;
    }

    .alpha-description {
        font-size: 16px;
    }

    .alpha-btns {
        width: 100%;
    }


}

@media all and (max-width: 480px) {
    .alpha-items h1 {
        font-size: 25px !important;
        margin-top: 50px;
    }

    .alpha-description {
        font-size: 16px;
    }

}