.contact-form {
  margin-top: 60px !important;
  padding: 80px 0;
  background-color: #f8f8f8;
  margin: 0;
  background: url(../images/contact-form.jpg) center center / cover no-repeat;
}

.contact-form h3 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
  color: var(--white);
  text-shadow: 0px 1px 3px black;
}

.form__descr {
  text-align: center;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 40px;
  text-shadow: 0px 1px 3px black;

}

.form {
  max-width: 600px;
  margin: 0 auto;
}

.form__group {
  margin-bottom: 20px;
}

.contact-form .form input,
.form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.714);
  border: 2px solid var(--white);
  font-size: 20px;
  font-family: inherit;
  transition: border-color 0.3s ease;
}

.form input:focus,
.form textarea:focus {
  border-color: #999;
  outline: none;
}

.form input::placeholder {
  color: black;
}

.form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 0px;
  border: 2px solid var(--white);
  font-family: inherit;
  resize: none;
  overflow-y: auto;
  min-height: 150px;
  transition: border-color 0.3s ease;
}

.form textarea::placeholder {
  color: black;
}

.form__btn {
  width: 100%;
  height: 50px;
  background: black;
  border: none;
  border-radius: 3px;
  color: var(--white);
  font-family: var(--ff);
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:hover {
  background-color: var(--white);
  color: var(--button-color);

}

/* Анимация для уведомлений */
@keyframes slideIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(400px);
    opacity: 0;
  }
}