footer {
    background: black;
}

.footer-items.row {
    align-items: start;
    padding: 100px 0;
    border-bottom: 1px solid var(--button-color);
}

.footer-logo {
    width: 100px;
}

.footer-item h3.footer-item__title {
    color: var(--white);
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
}

.footer-item__elems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.footer-item__elems a {
    color: var(--white);
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    transition: all 0.3s;
}

.footer-item__elems a:hover {
    color: var(--button-color);
}

.footer-item__contact a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    border: 2px solid var(--button-color);
    max-width: 305px;
    padding: 10px;
}

.footer-item__contact a:hover {
    background-color: rgba(255, 77, 1, 0.219);
}



.footer-logo img {
    width: 100%;
    border-radius: 100%;
}

.footer-item__contact img {
    width: 25px;
}

.footer-bottom {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-bottom a,
p {
    color: var(--white);
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    transition: all 0.3s;
}


.footer-bottom a:hover {
    color: var(--button-color);
}


@media all and (max-width: 900px) {

    .footer-items.row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media all and (max-width: 768px) {
    .footer-bottom {
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }

}

@media all and (max-width: 560px) {

    .footer-items.row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .footer-logo {
        width: 100px;
        margin: 0 auto;
    }

    .footer-item h3.footer-item__title {
        text-align: center;
    }

    .footer-item__elems {
        align-items: center;
    }

    .footer-item__elems a {
        color: var(--white);
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        transition: all 0.3s;
    }



    .footer-bottom a,
    p {
        color: var(--white);
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0%;
        transition: all 0.3s;
    }
}