    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        position: static;
        margin-top: 20px;
    }

    .swiper-pagination-bullet {
        background: var(--button-color);
        border-radius: 0;
        width: 20px;
        height: 20px;
    }