.solution {
    background: url(../images/solution.jpg) no-repeat center center/cover;
    padding: 115px 0;
}

.solution-title {
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 0%;
    color: black;
    margin-bottom: 20px;
}

.solution-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: black;
    margin-bottom: 35px;
}

.solution-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
}

.solution-btns a {
    text-align: center;
    width: 170px;
    height: 75px;
    line-height: 75px;
    background: rgba(255, 255, 255, 0.388);
    border: 1px solid black;
    color: black;
    font-family: var(--ff);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}

@media all and (max-width: 768px) {

    .solution-btns a {
        width: 110px;
        height: 50px;
        line-height: 50px;
        background: rgba(255, 255, 255, 0.388);
        border: 1px solid black;
        color: black;
        font-family: var(--ff);
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;

    }
}

@media all and (max-width: 481px) {

    .solution-btns a {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: rgba(255, 255, 255, 0.388);
        border: 1px solid black;
        color: black;
        font-family: var(--ff);
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;

    }
}

.solution-btns a:hover {
    background-color: var(--white);
    color: var(--button-color);
    border: 1px solid black;

}

@media all and (max-width: 768px) {
    .solution-title {
        font-weight: 400;
        font-size: 30px;
        line-height: 60px;
        letter-spacing: 0%;
        color: black;
        margin-bottom: 20px;
    }

    .solution-descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0%;
        color: black;
        margin-bottom: 35px;
    }

    .colution-btn:nth-of-type(2) {
        border: 1px solid black;
        color: black;
        background: rgba(255, 255, 255, 0.411);
        width: 100%;
    }
}

@media all and (max-width: 350px) {
    .solution-title br {
        display: none;
    }

    .solution-title {
        font-weight: 500;
        font-size: 30px;
    }

    .solution-title {
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0%;
        color: var(--white);
        text-shadow: 0 1px 3px black;
        margin-bottom: 20px;
    }

    .solution-descr {
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        color: var(--white);
        text-shadow: 0 1px 3px black;
        margin-bottom: 35px;
    }

}